<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileprogramming">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgramming">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".course04.part02.MyService" />

        <!-- course list -->
        <activity android:name=".Course01Activity" />
        <activity android:name=".Course02Activity" />
        <activity android:name=".Course03Activity" />
        <activity android:name=".Course04Activity" />
        <activity android:name=".Course05Activity" />
        <activity android:name=".Course06Activity" />

        <!-- course 02 -->
        <activity android:name=".course02.UnderstandingFirstAppActivity" />

        <!-- course 03 -->
        <activity android:name=".course03.LinearLayoutExample1bActivity" />
        <activity android:name=".course03.LinearLayoutExample1cActivity" />
        <activity android:name=".course03.LinearLayoutExample2aActivity" />
        <activity android:name=".course03.LinearLayoutWeightActivity" />
        <activity android:name=".course03.LinearLayoutGravityActivity" />
        <activity android:name=".course03.LinearLayoutPaddingMarginActivity" />
        <activity android:name=".course03.RelativeLayoutExampleActivity" />
        <activity android:name=".course03.FrameLayoutExampleActivity" />
        <activity android:name=".course03.TableLayoutExample1Activity" />
        <activity android:name=".course03.TableLayoutExample2Activity" />
        <activity android:name=".course03.TableLayoutExample3Activity" />
        <activity android:name=".course03.ScrollViewExample1Activity" />
        <activity android:name=".course03.ScrollViewExample2Activity" />

        <!-- course 04 -->
        <activity android:name=".course04.Part01Activity" />
        <activity android:name=".course04.Part02Activity" />
        <activity android:name=".course04.part01.UnderstandingLayoutInflationActivity" />
        <activity android:name=".course04.part01.IntentActivity" />
        <activity android:name=".course04.part01.ExplicitIntentMainActivity" />
        <activity android:name=".course04.part01.ExplicitIntentNewActivity" />
        <activity android:name=".course04.part01.ToastMainActivity" />
        <activity android:name=".course04.part01.ToastNewActivity" />
        <activity android:name=".course04.part02.LifeCycleActivity" />
        <activity android:name=".course04.part02.MyServiceActivity" />

        <!-- course 05 -->
        <activity android:name=".course05.Part01Activity" />
        <activity android:name=".course05.Part02Activity" />
        <activity android:name=".course05.part01.EventListenerActivity" />
        <activity android:name=".course05.part01.EditTextActivity" />
        <activity android:name=".course05.part01.CheckBoxActivity" />
        <activity android:name=".course05.part01.RadioButtonActivity" />
        <activity android:name=".course05.part01.MenuActivity" />
        <activity android:name=".course05.part02.Fragment01Activity" />
        <activity android:name=".course05.part02.Fragment02Activity" />
        <activity android:name=".course05.part02.Fragment03Activity" />
        <activity android:name=".course05.part02.WebView01Activity" />
        <activity android:name=".course05.part02.WebView02Activity" />
        <activity android:name=".course05.part02.ListViewActivity" />
        <activity android:name=".course05.part02.SpinnerActivity" />

        <!-- course 06 -->
        <activity android:name=".course06.CustomViewCircleActivity" />
        <activity android:name=".course06.CustomViewRectangleActivity" />
        <activity android:name=".course06.PaintStyleActivity" />
        <activity android:name=".course06.PaintStrokeCapAndJoinActivity" />
        <activity android:name=".course06.PathActivity" />
        <activity android:name=".course06.MakingCustomViewActivity" />

    </application>

</manifest>