<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileprogramming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgramming">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- course list -->
        <activity android:name=".Course01Activity" />
        <activity android:name=".Course02Activity" />
        <activity android:name=".Course03Activity" />
        <activity android:name=".Course04Activity" />

        <!-- course 02 -->
        <activity android:name=".course02.UnderstandingFirstAppActivity" />

        <!-- course 03 -->
        <activity android:name=".course03.LinearLayoutExample1bActivity" />
        <activity android:name=".course03.LinearLayoutExample1cActivity" />
        <activity android:name=".course03.LinearLayoutExample2aActivity" />
        <activity android:name=".course03.LinearLayoutWeightActivity" />
        <activity android:name=".course03.LinearLayoutGravityActivity" />
        <activity android:name=".course03.RelativeLayoutExampleActivity" />
        <activity android:name=".course03.FrameLayoutExampleActivity" />
        <activity android:name=".course03.TableLayoutExample1Activity" />
        <activity android:name=".course03.TableLayoutExample2Activity" />
        <activity android:name=".course03.TableLayoutExample3Activity" />
        <activity android:name=".course03.ScrollViewExample1Activity" />
        <activity android:name=".course03.ScrollViewExample2Activity" />
    </application>

</manifest>